
{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Announcement bar -->
{% block announce %}
  <a href="https://cloud-native-toolkit.github.io/dev-guide">
    Previous version of site can be found here
  </a>
{% endblock %}

<!-- Tabs -->
{% block tabs %}{% endblock %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <section>
          <div class=home-hero>
            <div class=home-hero-text>
              <h1>Industry Toolkit</h1>
            </div>
            <div class=home-hero-image>
            </div>
          </div>
        </section>
        <section>
          <div class=home-description>
            <div class='row'>
              <div class='column'>
                Industry Toolkit
              </div>
              <div class='column'>
                The Industry Toolkit is a collection of assets
                that enable application development and support teams to deliver business value
                to Industry 4.0 partners and clients.
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}

