
{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Tabs -->
{% block tabs %}{% endblock %}

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
  <!-- Hero for landing page -->
  <section class="mdx-container">
    <div class="md-grid md-typeset">
      <div class="mdx-hero">

        <section>
          <div class=home-hero>
            <div class=home-hero-text>
              <h1>{{ config.site_name }}</h1>
            </div>
            <div class=home-hero-image>
            </div>
          </div>
        </section>
        <section>
          <div class=home-description>
            <div class='row'>
              <div class='column'>
                {{ config.site_name }}
              </div>
              <div class='column'>
                {{ config.site_description }}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
{% endblock %}

<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}

